:root {
    --birutua: #0d3f8a;
    --tealtua: #188993;
    --tealmuda: #4EC59D;
    --tealmudabanget: #9FE1CB;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

.header {
    background-color: var(--tealmuda);
    padding: 20px 40px 30px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 0px 20px 20px;
    position: absolute;
    top: 0%;
    z-index: 10;
    width: 100%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
}

.nav-left ul, .nav-right ul {
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: center;
    padding-top: 5px;
    margin: 0;
}

.tombol-daun {
    background-color: white;
    color: #4a4a4a;
    text-decoration: none;
    padding: 12px 28px;
    font-family: sans-serif;
    font-weight: 500;
    border-radius: 20px 0px 20px 0px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);   
}

.hero {
    background: linear-gradient(var(--birutua), var(--tealtua));
    padding: 100px 80px;
    display: flex;
    align-items: center;
    min-height: 300px;
    position: relative;
    overflow: hidden;
}

.konten-hero {
    max-width: 60%;
    position: relative;
    z-index: 2;
}

.teks-hero h1 {
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 500;
    color: white;
    font-size: 4.5rem;
    margin-bottom: 20px;
    line-height: 1.1;
    max-width: 80%;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.15));
}

.teks-hero p {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 20px;
    line-height: 1.1;
    max-width: 95%;
}

.teks-hero span {
    color:  var(--tealmuda);
}

.tombol-hero {
    display: flex;
    gap: 20px;
}

.bulat-atas {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    right: 5%;
    top: 35%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);   
}

.bulat-tengah {
    position: absolute;
    width: 110px;
    height: 110px;
    background-color: white;
    border-radius: 50%;
    right: 22%;
    bottom: 40%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);   
}

.bulat-besar {
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: white;
    border-radius: 50%;
    right: -20px;
    bottom: -70px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);   

}

.bulat-besar h2 {
    color: #3f3e3a;
    font-size: 2.5rem;
    margin-right: 5px;
    margin-bottom: 70px; 
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.15));
}

.layanan-overview {
    padding: 50px 0px 50px 0px;
}

.kartu-layanan-container {
    display: flex;
    justify-content: center;
    gap: 8%;
    padding: 20px;
    flex-wrap: wrap;
}

.kartu-layanan, .kartu-layanan-featured {
    width: 320px;
    background-color: #52c49c;
    border-radius: 0px 20px 20px 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);   
}

.kartu-header {
    background-color: #b5d5f5;
    color: #333;
    padding: 15px;
    font-size: 1.4rem;
    font-weight: 500;
    font-family: "Bricolage Grotesque", sans-serif;
    text-align: center; 
    border-radius: 0px 20px 0px 20px;
}

.kartu-layanan-featured .kartu-header {
    background-color: #3b82f6;
    color: white;
    font-weight: bold;
}

.kartu-body {
    background-color: white;
    margin: 0 14px 14px 14px;
    border-radius: 0 0 12px 12px;
    padding: 10px 20px 10px;
    flex-grow: 1;
    position: relative;
}

.kartu-body p,  .kartu-body ul {
    color: #514F44;
    font-size: large;
}

.kartu-body ul {
    padding-left: 20px;
    margin-top: 5px;
}

.bulat-harga {
    position: absolute;
    bottom: -10px;
    right: -5px;
    width: 70px;
    height: 70px;
    background-color: #52c49c;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #333;
    font-weight: bold;
    font-size: 1rem;
}

.bulat-kecil {
    position: absolute;
    bottom: 60px;
    right: 60px;
    width: 20px;
    height: 20px;
    background-color: #52c49c;
    border-radius: 50%;
}

.judul-overview-layanan {
    justify-self: center;
    width: 450px;
    text-align: center;
    background-color: var(--tealmudabanget);
    color: #4a4a4a;
    padding: 12px 28px;
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 500;
    border-radius: 20px 0px 20px 0px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);   
}

.teks-overview-layanan {
    color: #4a4a4a;
    text-align: center;
}

.kontak-preview {
    display: flex;
    background-color: white;
    width: 100%;
}

.kontak-preview-kiri {
    flex: 6;
    background: linear-gradient(135deg, var(--birutua) 0%, var(--tealtua) 100%);
    color: white;
    padding: 80px 60px;
    border-radius: 0 60px 60px 0; 
    position: relative; 
    overflow: hidden; 
}

.kontak-preview-kiri h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
}

.bulat-tengah {
    position: absolute;
    width: 90px;
    height: 90px;
    background-color: white;
    border-radius: 50%;
    bottom: 30%;
    right: 25%;
}

.bulat-sudut {
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: white;
    border-radius: 50%;
    bottom: -100px; 
    right: -40px;
}

.kontak-preview-kanan {
    flex: 4;
    padding: 50px 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #333;
}

.brand-atas h2 {
    font-size: 3.5rem;
    color: #3f3e3a;
    margin-bottom: 10px;
}